$grid-columns:                16;
$grid-gutter-width:           8px;
$font-family-sans-serif: IRANSans, Tahoma, serif;
$font-weight-normal: 300;

@import '~/node_modules/bootstrap/scss/bootstrap.scss';
